.orders-box {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  margin-top: 15px;
}
.orders-box > p {
  color: #383e49;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 500;
}
.orders-box-title {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}
.orders-box-inner {
  border-right-width: 1px;
  border-right-color: #f0f1f3;
  border-right-style: solid;
  padding: 0px 15px;
}
.orders-box-value {
  color: #5d6679;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  margin-top: 15px;
}
.orders-box-inner-title {
  color: #858d9d;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}
.orders-box-sec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.orders-box-sec > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.order-table-main {
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: 15px;
  overflow: hidden;
}
.order-table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  padding-bottom: 0px;
  flex-wrap: wrap;
}
.order-table-header > p {
  color: #383e49;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 500;
}
.order-table-header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.order-table-history-btn {
  border: 1px solid #d0d3d9 !important;
  color: #5d6679 !important;
  font-family: "Inter" !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  text-transform: none !important;
}
.order-table-filter-btn {
  border: 1px solid #d0d3d9 !important;
  color: #5d6679 !important;
  font-family: "Inter" !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  text-transform: none !important;
  margin-right: 15px !important;
}
.order-table-header-title {
  color: #667085;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
}
.order-table-text {
  color: #48505e;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
}
@media only screen and (max-width: 899px) {
  #orders-box-inner-2 {
    border-right-width: 0px;
  }
  #orders-box-inner-3 {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 599px) {
  .orders-box-inner {
    border-right-width: 0px;
    border-right-color: #f0f1f3;
    border-right-style: solid;
    padding: 0px 0px;
  }
}
